In [1]:
import os
import sys
os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [3]:
# Path to the CSV file.
file_path = "file:///home/talentum/shared/NEO_Project/nearest-earth-objects(1910-2024).csv"


# Read the CSV file into a DataFrame.
neo = spark.read.csv(file_path, header=True, inferSchema=True)

# Show the first few Rows of the DataFrame.
neo.show(5)

+-------+------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
| neo_id|              name|absolute_magnitude|estimated_diameter_min|estimated_diameter_max|orbiting_body|relative_velocity|       miss_distance|is_hazardous|
+-------+------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
|2162117|162117 (1998 SD15)|             19.14|          0.3949616937|          0.8831611957|        Earth| 71745.4010476829| 5.814362331916972E7|       false|
|2349507|  349507 (2008 QY)|              18.5|          0.5303407233|          1.1858779086|        Earth|109949.7571484926| 5.580104781819944E7|        true|
|2455415|  455415 (2003 GA)|             21.45|          0.1363185559|          0.3048175575|        Earth| 24865.5067981164| 6.720688772254463E7|       false|
|3132126|         (2002 PB)|             20.63|          0.1988634532|          0.4446721997|        Earth| 78890.0768053243|3.0396444123281814E7|       false|
|3557844|         (2011 DW)|              22.7|          0.0766575574|          0.1714115092|        Earth| 56036.5194835328| 6.311862650726541E7|       false|
+-------+------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
only showing top 5 rows

In [4]:
# Print all the Columns of the NEO DataFrame.
neo.printSchema()

root
 |-- neo_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- absolute_magnitude: double (nullable = true)
 |-- estimated_diameter_min: double (nullable = true)
 |-- estimated_diameter_max: double (nullable = true)
 |-- orbiting_body: string (nullable = true)
 |-- relative_velocity: double (nullable = true)
 |-- miss_distance: double (nullable = true)
 |-- is_hazardous: boolean (nullable = true)

In [5]:
# Print the First 20 Rows of the NEO DataFrame.
neo.show()

+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
|  neo_id|               name|absolute_magnitude|estimated_diameter_min|estimated_diameter_max|orbiting_body|relative_velocity|       miss_distance|is_hazardous|
+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
| 2162117| 162117 (1998 SD15)|             19.14|          0.3949616937|          0.8831611957|        Earth| 71745.4010476829| 5.814362331916972E7|       false|
| 2349507|   349507 (2008 QY)|              18.5|          0.5303407233|          1.1858779086|        Earth|109949.7571484926| 5.580104781819944E7|        true|
| 2455415|   455415 (2003 GA)|             21.45|          0.1363185559|          0.3048175575|        Earth| 24865.5067981164| 6.720688772254463E7|       false|
| 3132126|          (2002 PB)|             20.63|          0.1988634532|          0.4446721997|        Earth| 78890.0768053243|3.0396444123281814E7|       false|
| 3557844|          (2011 DW)|              22.7|          0.0766575574|          0.1714115092|        Earth| 56036.5194835328| 6.311862650726541E7|       false|
| 3656926|         (2014 BT8)|              25.0|               0.02658|          0.0594346868|        Earth| 47477.6498319149| 4.290521417583934E7|       false|
| 3421513|         (2008 OX1)|              21.5|          0.1332155667|          0.2978790628|        Earth| 57853.2953456014|2.7279081267306093E7|        true|
| 3541504|       (2010 OF101)|             19.75|          0.2982325052|          0.6668681546|        Earth| 46972.4867936298| 6.997593131114951E7|       false|
| 3836942|          (2018 YH)|              21.7|          0.1214940408|          0.2716689341|        Earth| 37424.5483817653|   5657726.906878882|        true|
| 3892166|        (2019 UP13)|             23.45|          0.0542693946|          0.1213500554|        Earth| 38524.8678693203| 6.166118456265251E7|       false|
|54245816|         (2022 CM3)|             26.02|          0.0166170902|          0.0371569432|        Earth| 45125.6120486885|3.4223883067873016E7|       false|
| 2627157|  627157 (2008 OX1)|              21.5|          0.1332155667|          0.2978790628|        Earth| 57853.2957426173| 2.727908074371355E7|        true|
|54418652|          (2024 AF)|             23.76|          0.0470494961|          0.1052058716|        Earth| 19121.3349135938| 1.244444777054916E7|       false|
| 2162635|162635 (2000 SS164)|             16.71|          1.2093582639|          2.7042072872|        Earth| 12703.7885715422|  6.95894324383464E7|       false|
| 3559741|        (2011 EE41)|              24.3|          0.0366906138|          0.0820427065|        Earth|    67828.7858823|  7.13079538423054E7|       false|
|54193347|         (2021 RA4)|             24.32|          0.0363542322|          0.0812905344|        Earth|  45162.155756983| 4.036684287328309E7|       false|
|54245582|         (2022 CQ2)|              24.9|          0.0278326768|          0.0622357573|        Earth| 40238.0190573707| 1.067515810039739E7|       false|
| 2277810| 277810 (2006 FV35)|             21.72|          0.1203801767|          0.2691782583|        Earth| 31504.1009261814| 4.350790895824819E7|       false|
| 2284422|   284422 (2006 YD)|             17.36|          0.8965096664|          2.0046565566|        Earth| 99804.7390172065| 5.519529579388013E7|       false|
| 2357439| 357439 (2004 BL86)|             19.29|          0.3685996993|          0.8242139842|        Earth| 59133.7765895422|   7266531.841719698|        true|
+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+--------------------+------------+
only showing top 20 rows

In [6]:
# Summary of NEO DataFrame.
neo.describe().show()

+-------+--------------------+--------------------+------------------+----------------------+----------------------+-------------+------------------+--------------------+
|summary|              neo_id|                name|absolute_magnitude|estimated_diameter_min|estimated_diameter_max|orbiting_body| relative_velocity|       miss_distance|
+-------+--------------------+--------------------+------------------+----------------------+----------------------+-------------+------------------+--------------------+
|  count|              338199|              338199|            338171|                338171|                338171|       338199|            338199|              338199|
|   mean|1.7599388682018574E7|                null| 22.93252495926504|   0.15781204666053292|    0.3528784640005324|         null| 51060.66290759541|4.1535350932190806E7|
| stddev|2.2872246428931765E7|                null|2.9112163902923123|    0.3138851378796799|    0.7018685054244403|         null|26399.238434899267| 2.077399024610229E7|
|    min|             2000433|           (1979 XB)|              9.25|           5.111578E-4|          0.0011429835|        Earth|      203.34643253|      6745.532515957|
|    max|            54462807|99942 Apophis (20...|             33.58|         37.5452479361|         83.9537266171|        Earth| 291781.1066131202| 7.479865145219721E7|
+-------+--------------------+--------------------+------------------+----------------------+----------------------+-------------+------------------+--------------------+

In [7]:
# Counting the Number of Rows.
neo.count()

338199

In [8]:
neo.select("neo_id").distinct().count()

33514

In [9]:
neo.select("name").distinct().count()

33514

# Finding the NULL Values in the Features.

In [10]:
# Importing Functions.
from pyspark.sql.functions import col, isnan, when, count

In [11]:
null_counts_magnitude = neo.select([count(when(col("absolute_magnitude").isNull() | isnan("absolute_magnitude"), absolute_magnitude)).alias("absolute_magnitude") for absolute_magnitude in neo.columns])

null_counts_magnitude.show()

+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                28|                28|                28|                28|                28|                28|                28|                28|                28|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [12]:
null_counts_dia_max = neo.select([count(when(col("estimated_diameter_max").isNull() | isnan("estimated_diameter_max"), estimated_diameter_max)).alias("estimated_diameter_max") for estimated_diameter_max in neo.columns])

null_counts_dia_max.show()

+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|                    28|                    28|                    28|                    28|                    28|                    28|                    28|                    28|                    28|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

In [13]:
null_counts_dia_min = neo.select([count(when(col("estimated_diameter_min").isNull() | isnan("estimated_diameter_min"), estimated_diameter_min)).alias("estimated_diameter_min") for estimated_diameter_min in neo.columns])

null_counts_dia_min.show()

+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|                    28|                    28|                    28|                    28|                    28|                    28|                    28|                    28|                    28|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

# Calculating MEAN Values of the Features.

In [14]:
from pyspark.sql.types import DoubleType, StructField, StructType

In [15]:
from pyspark.sql.functions import mean
from pyspark.sql.types import DoubleType

In [16]:
# Ensure the column "absolute_magnitude" exists and is of type DoubleType

if "absolute_magnitude" in neo.columns and isinstance(neo.schema["absolute_magnitude"].dataType, DoubleType):
    absolute_magnitude_mean = neo.select(mean("absolute_magnitude").alias("absolute_magnitude_mean"))
    absolute_magnitude_mean.show()
else:
    print("Column 'absolute_magnitude' does not exist or is not of type DoubleType.")

+-----------------------+
|absolute_magnitude_mean|
+-----------------------+
|      22.93252495926504|
+-----------------------+

In [17]:
# Ensure the column "absolute_magnitude" exists and is of type DoubleType

if "estimated_diameter_max" in neo.columns and isinstance(neo.schema["estimated_diameter_max"].dataType, DoubleType):
    estimated_diameter_max_mean = neo.select(mean("estimated_diameter_max").alias("estimated_diameter_max_mean"))
    estimated_diameter_max_mean.show()
else:
    print("Column 'estimated_diameter_max' does not exist or is not of type DoubleType.")

+---------------------------+
|estimated_diameter_max_mean|
+---------------------------+
|         0.3528784640005324|
+---------------------------+

In [18]:
# Ensure the column "absolute_magnitude" exists and is of type DoubleType

if "estimated_diameter_min" in neo.columns and isinstance(neo.schema["estimated_diameter_min"].dataType, DoubleType):
    estimated_diameter_min_mean = neo.select(mean("estimated_diameter_min").alias("estimated_diameter_min_mean"))
    estimated_diameter_min_mean.show()
else:
    print("Column 'estimated_diameter_min' does not exist or is not of type DoubleType.")

+---------------------------+
|estimated_diameter_min_mean|
+---------------------------+
|        0.15781204666053292|
+---------------------------+

# Filling the NULL with MEAN Values in the Features.

In [19]:
absolute_magnitude_mean.show()

+-----------------------+
|absolute_magnitude_mean|
+-----------------------+
|      22.93252495926504|
+-----------------------+

In [20]:
# Fill NA values in the `absolute_magnitude` column with the mean value
neo = neo.fillna({"absolute_magnitude": 22.93252495926504})

neo.select("absolute_magnitude").show()

+------------------+
|absolute_magnitude|
+------------------+
|             19.14|
|              18.5|
|             21.45|
|             20.63|
|              22.7|
|              25.0|
|              21.5|
|             19.75|
|              21.7|
|             23.45|
|             26.02|
|              21.5|
|             23.76|
|             16.71|
|              24.3|
|             24.32|
|              24.9|
|             21.72|
|             17.36|
|             19.29|
+------------------+
only showing top 20 rows

In [21]:
null_counts = neo.select([count(when(col("absolute_magnitude").isNull() | isnan("absolute_magnitude"), absolute_magnitude)).alias("absolute_magnitude") for absolute_magnitude in neo.columns])

null_counts.show()

+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|absolute_magnitude|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|                 0|                 0|                 0|                 0|                 0|                 0|                 0|                 0|                 0|
+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [22]:
estimated_diameter_max_mean.show()

+---------------------------+
|estimated_diameter_max_mean|
+---------------------------+
|         0.3528784640005324|
+---------------------------+

In [23]:
# Fill NA values in the `absolute_magnitude` column with the mean value
neo = neo.fillna({"estimated_diameter_max": 0.35287846403961476})
    
neo.select("estimated_diameter_max").show()

+----------------------+
|estimated_diameter_max|
+----------------------+
|          0.8831611957|
|          1.1858779086|
|          0.3048175575|
|          0.4446721997|
|          0.1714115092|
|          0.0594346868|
|          0.2978790628|
|          0.6668681546|
|          0.2716689341|
|          0.1213500554|
|          0.0371569432|
|          0.2978790628|
|          0.1052058716|
|          2.7042072872|
|          0.0820427065|
|          0.0812905344|
|          0.0622357573|
|          0.2691782583|
|          2.0046565566|
|          0.8242139842|
+----------------------+
only showing top 20 rows

In [24]:
null_counts = neo.select([count(when(col("estimated_diameter_max").isNull() | isnan("estimated_diameter_max"), estimated_diameter_max)).alias("estimated_diameter_max") for estimated_diameter_max in neo.columns])

null_counts.show()

+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|estimated_diameter_max|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|                     0|                     0|                     0|                     0|                     0|                     0|                     0|                     0|                     0|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

In [25]:
estimated_diameter_min_mean.show()

+---------------------------+
|estimated_diameter_min_mean|
+---------------------------+
|        0.15781204666053292|
+---------------------------+

In [26]:
# Fill NA values in the `absolute_magnitude` column with the mean value
neo = neo.fillna({"estimated_diameter_min": 0.1578120466895513})

neo.select("estimated_diameter_min").show()

+----------------------+
|estimated_diameter_min|
+----------------------+
|          0.3949616937|
|          0.5303407233|
|          0.1363185559|
|          0.1988634532|
|          0.0766575574|
|               0.02658|
|          0.1332155667|
|          0.2982325052|
|          0.1214940408|
|          0.0542693946|
|          0.0166170902|
|          0.1332155667|
|          0.0470494961|
|          1.2093582639|
|          0.0366906138|
|          0.0363542322|
|          0.0278326768|
|          0.1203801767|
|          0.8965096664|
|          0.3685996993|
+----------------------+
only showing top 20 rows

In [27]:
null_counts = neo.select([count(when(col("estimated_diameter_min").isNull() | isnan("estimated_diameter_min"), estimated_diameter_min)).alias("estimated_diameter_min") for estimated_diameter_min in neo.columns])

null_counts.show()

+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|estimated_diameter_min|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|                     0|                     0|                     0|                     0|                     0|                     0|                     0|                     0|                     0|
+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

# Spark HIve Integration

In [28]:
from pyspark.sql import SparkSession

# Initialize SparkSession with Hive support
spark = SparkSession.builder \
    .appName("Spark-Hive Integration") \
    .enableHiveSupport() \
    .getOrCreate()

In [29]:
# List all tables in the default database
spark.sql("SHOW TABLES").show()

# Verify the specific table
spark.sql("SHOW TABLES LIKE 'neo'").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|       neo|      false|
| default|test_table|      false|
+--------+----------+-----------+

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
| default|      neo|      false|
+--------+---------+-----------+

In [30]:
# Read data from the Hive table into a DataFrame
df = spark.sql("SELECT * FROM default.neo")

# Show the DataFrame
df.show()

+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
|  neo_id|               name|absolute_magnitude|estimated_diameter_min|estimated_diameter_max|orbiting_body|relative_velocity|miss_distance|is_hazardous|
+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
| 2162117| 162117 (1998 SD15)|             19.14|           0.394961694|           0.883161196|        Earth|      71745.40105|5.814362332E7|       false|
| 2349507|   349507 (2008 QY)|              18.5|           0.530340723|           1.185877909|        Earth|      109949.7571|5.580104782E7|        true|
| 2455415|   455415 (2003 GA)|             21.45|           0.136318556|           0.304817558|        Earth|       24865.5068|6.720688772E7|       false|
| 3132126|          (2002 PB)|             20.63|           0.198863453|             0.4446722|        Earth|      78890.07681|3.039644412E7|       false|
| 3557844|          (2011 DW)|              22.7|           0.076657557|           0.171411509|        Earth|      56036.51948|6.311862651E7|       false|
| 3656926|         (2014 BT8)|              25.0|               0.02658|           0.059434687|        Earth|      47477.64983|4.290521418E7|       false|
| 3421513|         (2008 OX1)|              21.5|           0.133215567|           0.297879063|        Earth|      57853.29535|2.727908127E7|        true|
| 3541504|       (2010 OF101)|             19.75|           0.298232505|           0.666868155|        Earth|      46972.48679|6.997593131E7|       false|
| 3836942|          (2018 YH)|              21.7|           0.121494041|           0.271668934|        Earth|      37424.54838|  5657726.907|        true|
| 3892166|        (2019 UP13)|             23.45|           0.054269395|           0.121350055|        Earth|      38524.86787|6.166118456E7|       false|
|54245816|         (2022 CM3)|             26.02|            0.01661709|           0.037156943|        Earth|      45125.61205|3.422388307E7|       false|
| 2627157|  627157 (2008 OX1)|              21.5|           0.133215567|           0.297879063|        Earth|      57853.29574|2.727908074E7|        true|
|54418652|          (2024 AF)|             23.76|           0.047049496|           0.105205872|        Earth|      19121.33491|1.244444777E7|       false|
| 2162635|162635 (2000 SS164)|             16.71|           1.209358264|           2.704207287|        Earth|      12703.78857|6.958943244E7|       false|
| 3559741|        (2011 EE41)|              24.3|           0.036690614|           0.082042707|        Earth|      67828.78588|7.130795384E7|       false|
|54193347|         (2021 RA4)|             24.32|           0.036354232|           0.081290534|        Earth|      45162.15576|4.036684287E7|       false|
|54245582|         (2022 CQ2)|              24.9|           0.027832677|           0.062235757|        Earth|      40238.01906| 1.06751581E7|       false|
| 2277810| 277810 (2006 FV35)|             21.72|           0.120380177|           0.269178258|        Earth|      31504.10093|4.350790896E7|       false|
| 2284422|   284422 (2006 YD)|             17.36|           0.896509666|           2.004656557|        Earth|      99804.73902|5.519529579E7|       false|
| 2357439| 357439 (2004 BL86)|             19.29|           0.368599699|           0.824213984|        Earth|      59133.77659|  7266531.842|        true|
+--------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
only showing top 20 rows

In [31]:
# Define the schema for the new Hive table
df.write.mode("overwrite").saveAsTable("default.neo_copy")

# Filtering Records for Hazardous object

In [32]:
# Filter the DataFrame for hazardous objects
hazardous_neo = spark.sql("SELECT * FROM default.neo WHERE is_hazardous = true")

# Show the hazardous near-Earth objects
hazardous_neo.show()

+-------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
| neo_id|               name|absolute_magnitude|estimated_diameter_min|estimated_diameter_max|orbiting_body|relative_velocity|miss_distance|is_hazardous|
+-------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
|2349507|   349507 (2008 QY)|              18.5|           0.530340723|           1.185877909|        Earth|      109949.7571|5.580104782E7|        true|
|3421513|         (2008 OX1)|              21.5|           0.133215567|           0.297879063|        Earth|      57853.29535|2.727908127E7|        true|
|3836942|          (2018 YH)|              21.7|           0.121494041|           0.271668934|        Earth|      37424.54838|  5657726.907|        true|
|2627157|  627157 (2008 OX1)|              21.5|           0.133215567|           0.297879063|        Earth|      57853.29574|2.727908074E7|        true|
|2357439| 357439 (2004 BL86)|             19.29|           0.368599699|           0.824213984|        Earth|      59133.77659|  7266531.842|        true|
|3730580|       (2015 TY237)|             21.58|            0.12839703|           0.287104486|        Earth|      31033.08542|5.615952234E7|        true|
|2152828| 152828 (1999 VT25)|             21.28|           0.147419515|           0.329640056|        Earth|      45729.68419|5.241678571E7|        true|
|2494975|494975 (2009 WO106)|             19.18|            0.38775283|           0.867041687|        Earth|      68306.59276|3.790720856E7|        true|
|2483432| 483432 (2001 DF47)|             20.44|           0.217047594|           0.485333175|        Earth|      41135.35903|2.469791185E7|        true|
|3125005|         (2002 JQ9)|             19.24|           0.377185489|           0.843412394|        Earth|      42003.18768|6.846343816E7|        true|
|2140039| 140039 (2001 SO73)|             18.08|           0.643509521|           1.438931032|        Earth|      106453.0869|7.478754972E7|        true|
|3739011|         (2015 YU7)|             21.37|           0.141434375|           0.316256878|        Earth|      32927.82969|2.799107158E7|        true|
|3742342|       (2016 CL136)|             21.36|           0.142087207|           0.317716653|        Earth|      92214.24618|3.513588795E7|        true|
|2138404| 138404 (2000 HA24)|              19.4|           0.350392641|           0.783501764|        Earth|      29531.28515|2.969174442E7|        true|
|2481532|   481532 (2007 LE)|             19.62|           0.316632126|           0.708010957|        Earth|      74321.58654|6.691251057E7|        true|
|3392365|         (2007 VT6)|             20.53|           0.208235599|           0.465628955|        Earth|      48519.03558|3.952656902E7|        true|
|3467355|        (2009 SW17)|             19.88|           0.280902094|           0.628116177|        Earth|      42047.37149|2.864027178E7|        true|
|2141432| 141432 (2002 CQ11)|             20.06|           0.258556212|           0.578149266|        Earth|      31208.78061|2.807268204E7|        true|
|2192559|   192559 (1998 VO)|             20.43|           0.218049441|           0.487573371|        Earth|       27568.9334|5.687738505E7|        true|
|3143081|        (2002 VR85)|              20.3|           0.231502122|           0.517654482|        Earth|      46344.09404|3.714592661E7|        true|
+-------+-------------------+------------------+----------------------+----------------------+-------------+-----------------+-------------+------------+
only showing top 20 rows

# Average values of Diameter_max

In [43]:
# Calculate average estimated diameter max
avg_diameter_max = spark.sql("SELECT AVG(estimated_diameter_max) AS avg_diameter_max FROM default.neo")
avg_diameter_max.show()

+-------------------+
|   avg_diameter_max|
+-------------------+
|0.35287846403961104|
+-------------------+

# Average values of Diameter_min

In [42]:


# Calculate average estimated diameter min
avg_diameter_min = spark.sql("SELECT AVG(estimated_diameter_min) AS avg_diameter_min FROM default.neo")
avg_diameter_min.show()

+-------------------+
|   avg_diameter_min|
+-------------------+
|0.15781204668957705|
+-------------------+

In [36]:
# Check for remaining NULL values in 'absolute_magnitude'
null_counts_updated = spark.sql("SELECT COUNT(*) AS null_count FROM default.neo WHERE absolute_magnitude IS NULL")
null_counts_updated.show()

+----------+
|null_count|
+----------+
|         0|
+----------+

In [40]:
# Save DataFrame to a CSV file
neo.write.mode("overwrite").csv("/home/talentum/shared/NEO_Project/NEO_CLEAN_NEW.csv")

# Save to a different Hive table
neo.write.mode("overwrite").saveAsTable("default.neo_processed")